:root {
  --vp-font-family-mono:
    "Fira Code", ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}

/* Remove underline from links in docs content */
.VPDoc a {
  text-decoration: none;
}

.VPDoc a:hover {
  text-decoration: none;
}

/* Make inline code use normal text color */
.VPDoc :not(pre) > code {
  color: inherit;
}
