name: CI
# Checks linting, formatting, and tests.

on:
  pull_request:
  workflow_dispatch:

jobs:
  ci:
    uses: luamod/.github/.github/workflows/ci.yml@v1
    with:
      manual_run: ${{ github.event_name == 'workflow_dispatch' }}
