name: Release Please

on:
  workflow_dispatch:

permissions:
  contents: write
  pull-requests: write

jobs:
  release-please:
    uses: luamod/.github/.github/workflows/release-please.yml@v1
    with:
      config_file: .github/release-please-config.json
      manifest_file: .github/.release-please-manifest.json
    secrets:
      release_please_token: ${{ secrets.RELEASE_PLEASE_TOKEN }}
